* {
  background-color: #1b1f22;
}

h1 {
  text-decoration: #c431f9;
  background-color: #0000;
}

h5 {
  text-decoration: none;
}

.card {
  min-height: 200px;
}

.card-img {
  position: relative;
}

.contact-form-section {
  background-color: #1b1f22; /* Dark background color */
  color: #fff; /* Text color */
  padding: 2rem;
}

.contact-form-section h2 {
  margin-bottom: 1rem;
  color: #c431f9; 
}

.contact-form-section form {
  max-width: 500px;
  margin: auto;
}

.contact-form-section .form-label {
  text-align: left;
  display: block;
  color: #c431f9; /* Orange color for labels */
}

.contact-form-section .form-control {
  background-color: #424242; /* Darker background for input fields */
  border: none;
  margin-bottom: 1rem;
  color: #fff; /* Text color */
}

.contact-form-section .form-control::placeholder {
  color: #757575; /* Placeholder text color */
}

.contact-form-section .btn {
  background-color: #291ef6; /* Blue color for button */
  border: none;
  color: #fff; /* Text color */
}


footer a {
  font-size: 35px; /* Size of the icons */
}

footer a:hover {
  color: #fff;
}

footer i {
  padding: 1rem; 
}

img {
  display: center;
}

p {
  font-size: x-large;
  text-align: center;
}