
/*  ------------Mikeys index.css----------------  */

.contact-form-section {
  background-color: #58708a; /* Dark blue background */
  color: white;
  padding: 2rem;
  text-align: center;
}

.contact-form-section h2 {
  margin-bottom: 1rem;
}

.contact-form-section form {
  max-width: 500px; /* Adjust based on your preference */
  margin: auto;
}

.contact-form-section .form-label {
  text-align: left;
  display: block;
}

.contact-form-section .form-control {
  background-color: #fff; /* White background for inputs */
  border: none;
  margin-bottom: 1rem;
}

.contact-form-section .form-control::placeholder {
  color: #6c757d; /* Placeholder text color */
}

.contact-form-section .btn {
  background-color: #be2cf8; /* Blue color for button */
  border: none;
}


footer a {
  font-size: 30px; /* Size of the icons */
}

footer a:hover {
  color: black
}


footer i {
  padding: 1rem; 
}